/* #header {
  padding: 60px;
  text-align: center;
  background: #1abc9c;
  color: white;
  font-size: 30px;
}

#content {
  padding-bottom: 50px;
}

#footer {
  padding: 60px;
  text-align: center;
  background: grey;
  color: white;
  font-size: 30px;
} */

body {
  margin: 0;
  font-family: "Open Sans";
  overflow-x: hidden;
}
a,
a:active,
a:hover,
a:visited {
  text-decoration: none;
  /* color: #000; */
}
ul,
ol {
  list-style-type: none;
}
header {
  background: #3f6d64;
}
.content {
  position: relative;
  width: 70%;
  margin: auto;
  padding-top: 90px;
  padding-bottom: 90px;
}
.footer {
  position: relative;
  height: 150px;
  width: 100%;
  background-color: #13171c;
  color: #fff;
  text-align: center;
  padding: 20px;
  bottom: 0;
}
#block-icecream-theme-branding a {
  font-size: 20px;
  color: #fff;
}
.heading {
  color: #fff;
  font-size: 30px;
  width: 100%;
  text-align: center;
  padding-top: 30px;
  padding-bottom: 30px;
}
#block-icecream-theme-main-menu ul {
  z-index: 5;
  width: 80%;
  display: inline-block;
}

#block-icecream-theme-main-menu ul li {
  padding: 10px;
  width: 10%;
  display: inline-block;
  position: relative;
  text-align: center;
  font-size: 20px;
  text-decoration: none;
  color: #000;
  background-color: #e6dada;
  border: 2px solid #e6dada;
  transition: 500ms;
}

#block-icecream-theme-main-menu ul li:hover {
  color: #e6dada;
  background-color: #13171c;
}
#block-icecream-theme-footer ul li {
  display: inline-block;
}

#block-icecream-theme-footer ul li a {
  display: inline-block;
  color: #efefef;
}
